@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: 'TAEBAEKmilkyway';
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #aed1ff;
    border: 2px solid #06004a;
    padding: 20px;
    width: 400px;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.input-field {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.input-field:focus {
    outline: none;
    border-color: #74aeff;
}
.input-button {
    background-color: #74aeff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.add-button {
    background-color: #74aeff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.add-button:hover {
    background-color: #5690f8;
}
.add-button:hover {
    background-color: #5690f8;
}
.add-button:focus {
    outline: none;
    background-color: #5690f8;
}
.add-button:active {
    background-color: #3a76d9;
}
.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.task-item {
    background-color: #e4f1ff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-item:last-child {
    margin-bottom: 0;
}
.task-text {
    flex-grow: 1;
    margin-left: 10px;
}
.task-time {
    font-size: 12px;
    color: #74aeff;
}
